# Data Cleaning and Preprocessing

There are many problems that often occur in raw data such as inconsistencies, missing values and duplicate entries. We want to tackle these issues to make the data easier to analyse. In this tutorial, we will explore the common techniques used in pandas to clean and preprocess data. These include handling missing values, detecting and removing duplicates, converting data types, working with categorical and string data, and performing basic data transformations. 

## Identify and handle missing data

In [2]:
import pandas as pd
from pathlib import Path

data = pd.read_excel(Path.cwd() / "data/Financial Sample.xlsx", header=2)

# Print rows that contain null values
null_rows = data[data.isnull().any(axis=1)]

print(null_rows)

             Segment                   Country    Product Discount Band  \
0         Government                    Canada  Carretera           NaN
1         Government                   Germany  Carretera           NaN
2          Midmarket                    France  Carretera           NaN
3          Midmarket                   Germany  Carretera           NaN
4          Midmarket                    Mexico  Carretera           NaN
5         Government                   Germany  Carretera           NaN
6          Midmarket                   Germany    Montana           NaN
7   Channel Partners                    Canada    Montana           NaN
8         Government                    France    Montana           NaN
9   Channel Partners                   Germany    Montana           NaN
10         Midmarket                    Mexico    Montana           NaN
11        Enterprise                    Canada    Montana           NaN
12    Small Business                    Mexico    Montana           NaN
13        Government                   Germany    Montana           NaN
14        Enterprise                    Canada    Montana           NaN
15         Midmarket  United States of America    Montana           NaN
16        Government                    Canada      Paseo           NaN
17         Midmarket                    Mexico      Paseo           NaN
18  Channel Partners                    Canada      Paseo           NaN
19        Government                   Germany      Paseo           NaN
20  Channel Partners                   Germany      Paseo           NaN
21        Government                    Mexico      Paseo           NaN
22         Midmarket                    France      Paseo           NaN
23    Small Business                    Mexico      Paseo           NaN
24         Midmarket                    Mexico      Paseo           NaN
25        Government  United States of America      Paseo           NaN
26        Government                    Canada      Paseo           NaN
27  Channel Partners  United States of America      Paseo           NaN
28         Midmarket                    Canada      Paseo           NaN
29        Government                    Canada      Paseo           NaN
30        Government                   Germany      Paseo           NaN
31        Government                    Mexico       Velo           NaN
32        Enterprise                    France       Velo           NaN
33  Channel Partners                   Germany       Velo           NaN
34        Government                   Germany       Velo           NaN
35  Channel Partners                   Germany       Velo           NaN
36        Enterprise  United States of America       Velo           NaN
37        Enterprise                    Canada       Velo           NaN
38    Small Business                    Canada        VTT           NaN
39  Channel Partners                   Germany        VTT           NaN
40         Midmarket                    France        VTT           NaN
41         Midmarket                   Germany        VTT           NaN
42        Government                    France        VTT           NaN
43    Small Business                    France        VTT           NaN
44        Government                    Canada        VTT           NaN
45        Government                    France   Amarilla           NaN
46  Channel Partners  United States of America   Amarilla           NaN
47        Enterprise                   Germany   Amarilla           NaN
48        Government                    France   Amarilla           NaN
49        Government                   Germany   Amarilla           NaN
50  Channel Partners  United States of America   Amarilla           NaN
51        Government  United States of America   Amarilla           NaN
52         Midmarket  United States of America   Amarilla           NaN

    Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
0       1618.5                    3          20      32370.0        0.0
1       1321.0                    3          20      26420.0        0.0
2       2178.0                    3          15      32670.0        0.0
3        888.0                    3          15      13320.0        0.0
4       2470.0                    3          15      37050.0        0.0
5       1513.0                    3         350     529550.0        0.0
6        921.0                    5          15      13815.0        0.0
7       2518.0                    5          12      30216.0        0.0
8       1899.0                    5          20      37980.0        0.0
9       1545.0                    5          12      18540.0        0.0
10      2470.0                    5          15      37050.0        0.0
11      2665.5                    5         125     333187.5        0.0
12       958.0                    5         300     287400.0        0.0
13      2146.0                    5           7      15022.0        0.0
14       345.0                    5         125      43125.0        0.0
15       615.0                    5          15       9225.0        0.0
16       292.0                   10          20       5840.0        0.0
17       974.0                   10          15      14610.0        0.0
18      2518.0                   10          12      30216.0        0.0
19      1006.0                   10         350     352100.0        0.0
20       367.0                   10          12       4404.0        0.0
21       883.0                   10           7       6181.0        0.0
22       549.0                   10          15       8235.0        0.0
23       788.0                   10         300     236400.0        0.0
24      2472.0                   10          15      37080.0        0.0
25      1143.0                   10           7       8001.0        0.0
26      1725.0                   10         350     603750.0        0.0
27       912.0                   10          12      10944.0        0.0
28      2152.0                   10          15      32280.0        0.0
29      1817.0                   10          20      36340.0        0.0
30      1513.0                   10         350     529550.0        0.0
31      1493.0                  120           7      10451.0        0.0
32      1804.0                  120         125     225500.0        0.0
33      2161.0                  120          12      25932.0        0.0
34      1006.0                  120         350     352100.0        0.0
35      1545.0                  120          12      18540.0        0.0
36      2821.0                  120         125     352625.0        0.0
37       345.0                  120         125      43125.0        0.0
38      2001.0                  250         300     600300.0        0.0
39      2838.0                  250          12      34056.0        0.0
40      2178.0                  250          15      32670.0        0.0
41       888.0                  250          15      13320.0        0.0
42      1527.0                  250         350     534450.0        0.0
43      2151.0                  250         300     645300.0        0.0
44      1817.0                  250          20      36340.0        0.0
45      2750.0                  260         350     962500.0        0.0
46      1953.0                  260          12      23436.0        0.0
47      4219.5                  260         125     527437.5        0.0
48      1899.0                  260          20      37980.0        0.0
49      1686.0                  260           7      11802.0        0.0
50      2141.0                  260          12      25692.0        0.0
51      1143.0                  260           7       8001.0        0.0
52       615.0                  260          15       9225.0        0.0

       Sales      COGS    Profit       Date  Month Number Month Name  Year
0    32370.0   16185.0   16185.0 2014-01-01             1    January  2014
1    26420.0   13210.0   13210.0 2014-01-01             1    January  2014
2    32670.0   21780.0   10890.0 2014-06-01             6       June  2014
3    13320.0    8880.0    4440.0 2014-06-01             6       June  2014
4    37050.0   24700.0   12350.0 2014-06-01             6       June  2014
5   529550.0  393380.0  136170.0 2014-12-01            12   December  2014
6    13815.0    9210.0    4605.0 2014-03-01             3      March  2014
7    30216.0    7554.0   22662.0 2014-06-01             6       June  2014
8    37980.0   18990.0   18990.0 2014-06-01             6       June  2014
9    18540.0    4635.0   13905.0 2014-06-01             6       June  2014
10   37050.0   24700.0   12350.0 2014-06-01             6       June  2014
11  333187.5  319860.0   13327.5 2014-07-01             7       July  2014
12  287400.0  239500.0   47900.0 2014-08-01             8     August  2014
13   15022.0   10730.0    4292.0 2014-09-01             9  September  2014
14   43125.0   41400.0    1725.0 2013-10-01            10    October  2013
15    9225.0    6150.0    3075.0 2014-12-01            12   December  2014
16    5840.0    2920.0    2920.0 2014-02-01             2   February  2014
17   14610.0    9740.0    4870.0 2014-02-01             2   February  2014
18   30216.0    7554.0   22662.0 2014-06-01             6       June  2014
19  352100.0  261560.0   90540.0 2014-06-01             6       June  2014
20    4404.0    1101.0    3303.0 2014-07-01             7       July  2014
21    6181.0    4415.0    1766.0 2014-08-01             8     August  2014
22    8235.0    5490.0    2745.0 2013-09-01             9  September  2013
23  236400.0  197000.0   39400.0 2013-09-01             9  September  2013
24   37080.0   24720.0   12360.0 2014-09-01             9  September  2014
25    8001.0    5715.0    2286.0 2014-10-01            10    October  2014
26  603750.0  448500.0  155250.0 2013-11-01            11   November  2013
27   10944.0    2736.0    8208.0 2013-11-01            11   November  2013
28   32280.0   21520.0   10760.0 2013-12-01            12   December  2013
29   36340.0   18170.0   18170.0 2014-12-01            12   December  2014
30  529550.0  393380.0  136170.0 2014-12-01            12   December  2014
31   10451.0    7465.0    2986.0 2014-01-01             1    January  2014
32  225500.0  216480.0    9020.0 2014-02-01             2   February  2014
33   25932.0    6483.0   19449.0 2014-03-01             3      March  2014
34  352100.0  261560.0   90540.0 2014-06-01             6       June  2014
35   18540.0    4635.0   13905.0 2014-06-01             6       June  2014
36  352625.0  338520.0   14105.0 2014-08-01             8     August  2014
37   43125.0   41400.0    1725.0 2013-10-01            10    October  2013
38  600300.0  500250.0  100050.0 2014-02-01             2   February  2014
39   34056.0    8514.0   25542.0 2014-04-01             4      April  2014
40   32670.0   21780.0   10890.0 2014-06-01             6       June  2014
41   13320.0    8880.0    4440.0 2014-06-01             6       June  2014
42  534450.0  397020.0  137430.0 2013-09-01             9  September  2013
43  645300.0  537750.0  107550.0 2014-09-01             9  September  2014
44   36340.0   18170.0   18170.0 2014-12-01            12   December  2014
45  962500.0  715000.0  247500.0 2014-02-01             2   February  2014
46   23436.0    5859.0   17577.0 2014-04-01             4      April  2014
47  527437.5  506340.0   21097.5 2014-04-01             4      April  2014
48   37980.0   18990.0   18990.0 2014-06-01             6       June  2014
49   11802.0    8430.0    3372.0 2014-07-01             7       July  2014
50   25692.0    6423.0   19269.0 2014-08-01             8     August  2014
51    8001.0    5715.0    2286.0 2014-10-01            10    October  2014
52    9225.0    6150.0    3075.0 2014-12-01            12   December  2014

In [5]:
# Print columns that contain null values
null_columns = data.columns[data.isnull().any()].tolist()

print(null_columns)

['Discount Band']

You can drop null values using dropna()

In [14]:
data_no_nulls = data.dropna()

null_rows = data_no_nulls[data_no_nulls.isnull().any(axis=1)]

print(null_rows)
print(data_no_nulls)

Empty DataFrame
Columns: [Segment, Country, Product, Discount Band, Units Sold, Manufacturing Price, Sale Price, Gross Sales, Discounts,  Sales, COGS, Profit, Date, Month Number, Month Name, Year]
Index: []
              Segment                   Country   Product Discount Band  \
53         Government                    France     Paseo           Low
54          Midmarket                    France     Paseo           Low
55         Government                    France     Paseo           Low
56         Government                    France      Velo           Low
57         Government                    Canada       VTT           Low
..                ...                       ...       ...           ...
695    Small Business                    France  Amarilla          High
696    Small Business                    Mexico  Amarilla          High
697        Government                    Mexico   Montana          High
698        Government                    Canada     Paseo          High
699  Channel Partners  United States of America       VTT          High

     Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
53       3945.0                   10           7      27615.0     276.15
54       2296.0                   10          15      34440.0     344.40
55       1030.0                   10           7       7210.0      72.10
56        639.0                  120           7       4473.0      44.73
57       1326.0                  250           7       9282.0      92.82
..          ...                  ...         ...          ...        ...
695      2475.0                  260         300     742500.0  111375.00
696       546.0                  260         300     163800.0   24570.00
697      1368.0                    5           7       9576.0    1436.40
698       723.0                   10           7       5061.0     759.15
699      1806.0                  250          12      21672.0    3250.80

         Sales      COGS    Profit       Date  Month Number Month Name  Year
53    27338.85   19725.0   7613.85 2014-01-01             1    January  2014
54    34095.60   22960.0  11135.60 2014-02-01             2   February  2014
55     7137.90    5150.0   1987.90 2014-05-01             5        May  2014
56     4428.27    3195.0   1233.27 2014-11-01            11   November  2014
57     9189.18    6630.0   2559.18 2014-03-01             3      March  2014
..         ...       ...       ...        ...           ...        ...   ...
695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

[647 rows x 16 columns]

It is often useful to provide a threshold for dropna() this is the number of columns containing null that you will then drop. Often when reading in xlsx files it will include notes that happen below the actual data, so dropna() is very useful for getting rid of these rows.

There are scenarios were instead of removing these entries completely you wish to replace it with something else. You can do so using fillna(). So here we are considering discounts so it is reasonable to replace null by 0.

In [18]:
data = pd.read_excel(Path.cwd() / "data/Financial Sample.xlsx", header=2)
data = data.fillna(0)

print(data[data["Discounts"] == 0])

             Segment                   Country    Product Discount Band  \
0         Government                    Canada  Carretera             0
1         Government                   Germany  Carretera             0
2          Midmarket                    France  Carretera             0
3          Midmarket                   Germany  Carretera             0
4          Midmarket                    Mexico  Carretera             0
5         Government                   Germany  Carretera             0
6          Midmarket                   Germany    Montana             0
7   Channel Partners                    Canada    Montana             0
8         Government                    France    Montana             0
9   Channel Partners                   Germany    Montana             0
10         Midmarket                    Mexico    Montana             0
11        Enterprise                    Canada    Montana             0
12    Small Business                    Mexico    Montana             0
13        Government                   Germany    Montana             0
14        Enterprise                    Canada    Montana             0
15         Midmarket  United States of America    Montana             0
16        Government                    Canada      Paseo             0
17         Midmarket                    Mexico      Paseo             0
18  Channel Partners                    Canada      Paseo             0
19        Government                   Germany      Paseo             0
20  Channel Partners                   Germany      Paseo             0
21        Government                    Mexico      Paseo             0
22         Midmarket                    France      Paseo             0
23    Small Business                    Mexico      Paseo             0
24         Midmarket                    Mexico      Paseo             0
25        Government  United States of America      Paseo             0
26        Government                    Canada      Paseo             0
27  Channel Partners  United States of America      Paseo             0
28         Midmarket                    Canada      Paseo             0
29        Government                    Canada      Paseo             0
30        Government                   Germany      Paseo             0
31        Government                    Mexico       Velo             0
32        Enterprise                    France       Velo             0
33  Channel Partners                   Germany       Velo             0
34        Government                   Germany       Velo             0
35  Channel Partners                   Germany       Velo             0
36        Enterprise  United States of America       Velo             0
37        Enterprise                    Canada       Velo             0
38    Small Business                    Canada        VTT             0
39  Channel Partners                   Germany        VTT             0
40         Midmarket                    France        VTT             0
41         Midmarket                   Germany        VTT             0
42        Government                    France        VTT             0
43    Small Business                    France        VTT             0
44        Government                    Canada        VTT             0
45        Government                    France   Amarilla             0
46  Channel Partners  United States of America   Amarilla             0
47        Enterprise                   Germany   Amarilla             0
48        Government                    France   Amarilla             0
49        Government                   Germany   Amarilla             0
50  Channel Partners  United States of America   Amarilla             0
51        Government  United States of America   Amarilla             0
52         Midmarket  United States of America   Amarilla             0

    Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
0       1618.5                    3          20      32370.0        0.0
1       1321.0                    3          20      26420.0        0.0
2       2178.0                    3          15      32670.0        0.0
3        888.0                    3          15      13320.0        0.0
4       2470.0                    3          15      37050.0        0.0
5       1513.0                    3         350     529550.0        0.0
6        921.0                    5          15      13815.0        0.0
7       2518.0                    5          12      30216.0        0.0
8       1899.0                    5          20      37980.0        0.0
9       1545.0                    5          12      18540.0        0.0
10      2470.0                    5          15      37050.0        0.0
11      2665.5                    5         125     333187.5        0.0
12       958.0                    5         300     287400.0        0.0
13      2146.0                    5           7      15022.0        0.0
14       345.0                    5         125      43125.0        0.0
15       615.0                    5          15       9225.0        0.0
16       292.0                   10          20       5840.0        0.0
17       974.0                   10          15      14610.0        0.0
18      2518.0                   10          12      30216.0        0.0
19      1006.0                   10         350     352100.0        0.0
20       367.0                   10          12       4404.0        0.0
21       883.0                   10           7       6181.0        0.0
22       549.0                   10          15       8235.0        0.0
23       788.0                   10         300     236400.0        0.0
24      2472.0                   10          15      37080.0        0.0
25      1143.0                   10           7       8001.0        0.0
26      1725.0                   10         350     603750.0        0.0
27       912.0                   10          12      10944.0        0.0
28      2152.0                   10          15      32280.0        0.0
29      1817.0                   10          20      36340.0        0.0
30      1513.0                   10         350     529550.0        0.0
31      1493.0                  120           7      10451.0        0.0
32      1804.0                  120         125     225500.0        0.0
33      2161.0                  120          12      25932.0        0.0
34      1006.0                  120         350     352100.0        0.0
35      1545.0                  120          12      18540.0        0.0
36      2821.0                  120         125     352625.0        0.0
37       345.0                  120         125      43125.0        0.0
38      2001.0                  250         300     600300.0        0.0
39      2838.0                  250          12      34056.0        0.0
40      2178.0                  250          15      32670.0        0.0
41       888.0                  250          15      13320.0        0.0
42      1527.0                  250         350     534450.0        0.0
43      2151.0                  250         300     645300.0        0.0
44      1817.0                  250          20      36340.0        0.0
45      2750.0                  260         350     962500.0        0.0
46      1953.0                  260          12      23436.0        0.0
47      4219.5                  260         125     527437.5        0.0
48      1899.0                  260          20      37980.0        0.0
49      1686.0                  260           7      11802.0        0.0
50      2141.0                  260          12      25692.0        0.0
51      1143.0                  260           7       8001.0        0.0
52       615.0                  260          15       9225.0        0.0

       Sales      COGS    Profit       Date  Month Number Month Name  Year
0    32370.0   16185.0   16185.0 2014-01-01             1    January  2014
1    26420.0   13210.0   13210.0 2014-01-01             1    January  2014
2    32670.0   21780.0   10890.0 2014-06-01             6       June  2014
3    13320.0    8880.0    4440.0 2014-06-01             6       June  2014
4    37050.0   24700.0   12350.0 2014-06-01             6       June  2014
5   529550.0  393380.0  136170.0 2014-12-01            12   December  2014
6    13815.0    9210.0    4605.0 2014-03-01             3      March  2014
7    30216.0    7554.0   22662.0 2014-06-01             6       June  2014
8    37980.0   18990.0   18990.0 2014-06-01             6       June  2014
9    18540.0    4635.0   13905.0 2014-06-01             6       June  2014
10   37050.0   24700.0   12350.0 2014-06-01             6       June  2014
11  333187.5  319860.0   13327.5 2014-07-01             7       July  2014
12  287400.0  239500.0   47900.0 2014-08-01             8     August  2014
13   15022.0   10730.0    4292.0 2014-09-01             9  September  2014
14   43125.0   41400.0    1725.0 2013-10-01            10    October  2013
15    9225.0    6150.0    3075.0 2014-12-01            12   December  2014
16    5840.0    2920.0    2920.0 2014-02-01             2   February  2014
17   14610.0    9740.0    4870.0 2014-02-01             2   February  2014
18   30216.0    7554.0   22662.0 2014-06-01             6       June  2014
19  352100.0  261560.0   90540.0 2014-06-01             6       June  2014
20    4404.0    1101.0    3303.0 2014-07-01             7       July  2014
21    6181.0    4415.0    1766.0 2014-08-01             8     August  2014
22    8235.0    5490.0    2745.0 2013-09-01             9  September  2013
23  236400.0  197000.0   39400.0 2013-09-01             9  September  2013
24   37080.0   24720.0   12360.0 2014-09-01             9  September  2014
25    8001.0    5715.0    2286.0 2014-10-01            10    October  2014
26  603750.0  448500.0  155250.0 2013-11-01            11   November  2013
27   10944.0    2736.0    8208.0 2013-11-01            11   November  2013
28   32280.0   21520.0   10760.0 2013-12-01            12   December  2013
29   36340.0   18170.0   18170.0 2014-12-01            12   December  2014
30  529550.0  393380.0  136170.0 2014-12-01            12   December  2014
31   10451.0    7465.0    2986.0 2014-01-01             1    January  2014
32  225500.0  216480.0    9020.0 2014-02-01             2   February  2014
33   25932.0    6483.0   19449.0 2014-03-01             3      March  2014
34  352100.0  261560.0   90540.0 2014-06-01             6       June  2014
35   18540.0    4635.0   13905.0 2014-06-01             6       June  2014
36  352625.0  338520.0   14105.0 2014-08-01             8     August  2014
37   43125.0   41400.0    1725.0 2013-10-01            10    October  2013
38  600300.0  500250.0  100050.0 2014-02-01             2   February  2014
39   34056.0    8514.0   25542.0 2014-04-01             4      April  2014
40   32670.0   21780.0   10890.0 2014-06-01             6       June  2014
41   13320.0    8880.0    4440.0 2014-06-01             6       June  2014
42  534450.0  397020.0  137430.0 2013-09-01             9  September  2013
43  645300.0  537750.0  107550.0 2014-09-01             9  September  2014
44   36340.0   18170.0   18170.0 2014-12-01            12   December  2014
45  962500.0  715000.0  247500.0 2014-02-01             2   February  2014
46   23436.0    5859.0   17577.0 2014-04-01             4      April  2014
47  527437.5  506340.0   21097.5 2014-04-01             4      April  2014
48   37980.0   18990.0   18990.0 2014-06-01             6       June  2014
49   11802.0    8430.0    3372.0 2014-07-01             7       July  2014
50   25692.0    6423.0   19269.0 2014-08-01             8     August  2014
51    8001.0    5715.0    2286.0 2014-10-01            10    October  2014
52    9225.0    6150.0    3075.0 2014-12-01            12   December  2014

A common situation I have uncountered is where we have a column for year and quarter and because the data is in order only Q1 has a year. In this scenario we want to do a forward fill ffill()

In [19]:
data = {
    'Year': [2000, None, None, None, 2001, None, None, None, 2002, None, None, None, 2003, None, None],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q4', 'Q1', 'Q2', 'Q3', 'Q4', 'Q1', 'Q2', 'Q3', 'Q4', 'Q1', 'Q2', 'Q3']
}
df = pd.DataFrame(data)

print(df)

      Year Quarter
0   2000.0      Q1
1      NaN      Q2
2      NaN      Q3
3      NaN      Q4
4   2001.0      Q1
5      NaN      Q2
6      NaN      Q3
7      NaN      Q4
8   2002.0      Q1
9      NaN      Q2
10     NaN      Q3
11     NaN      Q4
12  2003.0      Q1
13     NaN      Q2
14     NaN      Q3

In [20]:
df_filled = df.ffill()

print(df_filled)

      Year Quarter
0   2000.0      Q1
1   2000.0      Q2
2   2000.0      Q3
3   2000.0      Q4
4   2001.0      Q1
5   2001.0      Q2
6   2001.0      Q3
7   2001.0      Q4
8   2002.0      Q1
9   2002.0      Q2
10  2002.0      Q3
11  2002.0      Q4
12  2003.0      Q1
13  2003.0      Q2
14  2003.0      Q3

Simiarly there are other fill functions such as bfill(). Please see documentation https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.bfill.html

## Identify and handle duplicate data

## Identify and handle data types

## String Operations